/*member login*/

header, body, div, label, input, article, h1, p {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3b3b3b;
}

header {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: url(../images/pc.png) no-repeat, -webkit-linear-gradient(left,#313131,  #4d4c4c, #6d6c6c);
    background: url(../images/pc.png) no-repeat, -moz-linear-gradient(right, #313131, #4d4c4c, #6d6c6c);
    background: url(../images/pc.png) no-repeat, -o-linear-gradient(right, #313131,   #4d4c4c, #6d6c6c);
    background: url(../images/pc.png) no-repeat, linear-gradient(to right, #313131, #4d4c4c, #6d6c6c);
    color: white;
    height: 57px;
    padding-top:22px;
	width: 580px;
	
}

header div {
    vertical-align: sub;
    margin-left: 85px;
    font-size: 20px;
}

label {
    margin-right: 10px;
}

input[type=text], input[type=email] {
    margin-right: 10px;
	width: 120px;
}

input[type=submit] {
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #f89ea0;
    border-radius: 9px;
    border: 2px solid #d1aaa7;
    box-shadow: #d60303 0px -16px 10px inset;
}

article {
    padding: 13px;
	width: 530px;
}

article h1 {
    color: #fcd51a;
    margin-bottom: 15px;
    font-weight: normal;
}

p {
    color: #a0a0a0;

}

span {
    color: #d1d1d1;
}