@using ForumSystem.Web.ViewModels.PageableFeedbackListView
@model IEnumerable<PageableFeedbackListViewModel>


@{
    ViewBag.Title = "Pageable Feedback List";
}

<h2>Pageable Feedback List</h2>

<table>
    <thead>
        <tr>
            <th class="col-md-1">Author</th>
            <th class="col-md-1">Title</th>
            <th class="col-md-2">Content</th>
            <th class="col-md-2">Created On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">@item.Author</td>
                <td class="col-md-1">@item.Title</td>
                <td class="col-md-2">@item.Content</td>
                <td class="col-md-2">@item.CreatedOn</td>

            </tr>
        }
    </tbody>
</table>


