table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    background-color: #adf388;
}

select {
    background-color: #adf388;
}

td {
    padding: 5px;
}

#wrapper {
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 18px;
}

#all, #result {
    display: inline-block;
    width: 400px;
    height: 800px;
}
